[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "==4.11.2"
undetected-chromedriver = "*"
pandas = "*"
webdriver-manager = "*"

[dev-packages]

[requires]
python_version = "3.8"
